{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Note App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type='text/css' href="/static/css/main.css">
    </head>
    <body>
        <header>
            {% include 'note_app/navi.html' %}
        </header>
        <div class='center'>
            {% block content %}{% endblock %}
        </div>
    </body>
    <foot>
        
    </foot>
</html>