{% load static %}
<div class="navi">
    {% if user.is_authenticated %}
    <div class='left'>
        <a href="{% url 'note_app:index' %}">
            <button type='button'>home</button>
        </a>
    </div>
    <div class='right'>
        <form action="{% url 'note_app:logout' %}", method='POST'>
            {% csrf_token %}
            <button type='submit'>logout</button>
        </form>
    </div>
    {% else %}
    <div class='left'>
        <a href="{% url 'note_app:index' %}">
            <button type='button'>home</button>
        </a>
    <div class='right'>
        <a href="{% url 'note_app:login' %}">
            <button type='button'>login</button>
        </a>
        <a href="{% url 'note_app:register' %}">
            <button type='button'>register</button>
        </a>
    </div>
    {% endif %}
</div>